:root {
    --primary-color: #333333;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono'
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #EFEFEF;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    font-family: 'Roboto Slab', monospace;
    color: var(--primary-color);
    font-size: 3rem;
    text-align: center;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.board {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    gap: 20px;
}

.colors {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
}


.canvas {
    width: 480px;
    height: 480px;
    background: white;
    flex-shrink: 0;
    flex-basis: auto;
    display: flex;
}

.utility {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    flex: 1;
    gap: 20px;
}

button {
    background: var(--primary-color);
    text-transform: uppercase;
    color: white;
    padding: 14px;
    border-radius: 8px;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.dimension-wrapper {
    display: flex;
    justify-content: space-between;
}

.dimension-wrapper>* {
    width: 50px;
    height: 50px;
    aspect-ratio: 1 / 1;
    padding-inline: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dimension-wrapper>div {
    background: white;
    border-radius: 8px;
}