:root {
    --primary-color: #333333;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono'
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #EFEFEF;
}

.grid {
    border: .1px solid rgba(0, 0, 0, 0.147);
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    font-family: 'Roboto Slab', monospace;
    color: var(--primary-color);
    font-size: 3rem;
    text-align: center;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.board {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1200px;
    gap: 20px;
}

.hidden {
    height: 0;
    opacity: 0;
}

.colors {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    gap: 10px;
}

.color-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.default-colors {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.color-select {
    height: 50px;
    width: 50px;
    border-radius: 8px;
}

.rainbow {
    background: linear-gradient(45deg, #ff5151 0%,
            #ff9a51 21%,
            #f8fb6a 42%,
            #86e67e 61%,
            #31c6ed 83%,
            #9714ff 100%);
}


.canvas {
    width: 480px;
    height: 480px;
    background: white;
    flex-shrink: 0;
    flex-basis: auto;
    display: flex;
}

.utility {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    flex: 1;
    gap: 20px;
}

button {
    background: var(--primary-color);
    text-transform: uppercase;
    color: white;
    padding: 14px;
    border-radius: 8px;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.dimension-wrapper {
    display: flex;
    justify-content: space-between;
}

.dimension-wrapper>* {
    width: 50px;
    height: 50px;
    aspect-ratio: 1 / 1;
    padding-inline: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dimension-wrapper>div {
    background: white;
    border-radius: 8px;
}

.dimension {
    border: 0;
    font-size: 18px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}